* {
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0.15px black;
    text-shadow: 1.15px 1.15px 1.15px black;
}

#homePageTitle {
    margin-top:100px;
}

#centeredText {
    text-align: center;
    margin-top: 300px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color:rgb(24, 24, 24);
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navBars {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}

.navs {
    float:left;
    height: 20px;
    width:calc(60% / 4);
    background-color: rgb(172, 172, 172);
}

.navBars button:hover {
    background-color:rgb(136, 136, 136);
}

.navBars button:active {
    background-color:rgb(100, 100, 100);
}

.languageSwitch {
    float: right;
    height: 20px;
    width:calc(20% / 3);
    background-color: rgb(172, 172, 172);
}

#homePagePicture {
    width: 100%;
    height: 250px;
}
/*
.kalkulatorIndex {
    background-color: rgb(148, 148, 148);
    width: 150px;
    height:300px;
    border: 15px solid rgb(102, 9, 94);
    padding: 30px;
    margin-left:auto;
    margin-right:auto;
}
*/

#calculator {
    position:relative;
    background-color:rgb(51, 51, 51);
    width: 300px;
    border: 10px solid rgb(97, 97, 97);
    padding: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-radius: 30px;
}

#display {
    width:250px;
    margin-bottom:15px;
    font-size:2rem;
    text-align:left;
    border:3px solid rgb(85, 85, 85);
    border-radius: 8px;
    resize:vertical;
    background-color:rgb(221, 221, 221);
}
#topButtonRows button {
    width:34px;
    height:32px;
    margin-right:6.5px;
    margin-bottom:8px;
    background-color:rgb(255, 255, 255);
    cursor:pointer;
}

#topButtonRows button:hover {
    background-color:rgb(207, 207, 207)
}

#topButtonRows button:active {
    background-color:rgb(156, 156, 156)
}
#lowerButtonRows button {
    width:40px;
    height:40px;
    margin-right:10px;
    margin-bottom:8px;
    background-color:rgb(255, 255, 255);
    cursor:pointer;
}
#lowerButtonRows button:hover {
    background-color:rgb(207, 207, 207)
}
#lowerButtonRows button:active {
    background-color:rgb(156, 156, 156)
}
h1 {
    color:rgb(255, 255, 255);
}

#log_x {
    font-size:10px;
}

#favoritePicturesAlignmentHorizontal {
    margin-top: 16px;
    width: 49.5%;
    height: auto;
}

#favoritePicturesAlignmentVertical {
    margin-top: 16px;
    width: 49.5%;
    height: 900px;
}

.PictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50%;
}

.PictureText {
    position: absolute;
}