* {
    font-family: Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    text-decoration: none;
    -webkit-text-stroke: 0.15px black;
    text-shadow: 1.15px 1.15px 1.15px black;
}

#homePageTitle {
    margin-top:100px;
}

#centeredText {
    text-align: center;
    margin-top: 300px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color:rgb(24, 24, 24);
    margin-left: 0;
    margin-right: 0;
    
}

.navBars {
    position:absolute;
    top:0;
    left:0;
    width: 100%;
}

.navs {
    float:left;
    height: 20px;
    width:calc(75% / 5);
    background-color: rgb(172, 172, 172);
}

.navBars button:hover {
    background-color:rgb(136, 136, 136);
}

.navBars button:active {
    background-color:rgb(100, 100, 100);
}

.languageSwitch {
    float: right;
    height: 20px;
    width:calc(20% / 3);
    background-color: rgb(172, 172, 172);
}
/*
#homePagePictureLinks {
    width: 200px;
    height: 200px;
}
*/
/*
.kalkulatorIndex {
    background-color: rgb(148, 148, 148);
    width: 150px;
    height:300px;
    border: 15px solid rgb(102, 9, 94);
    padding: 30px;
    margin-left:auto;
    margin-right:auto;
}
*/

#calculator {
    position:relative;
    background-color:rgb(51, 51, 51);
    width: 250px;
    border: 10px solid rgb(97, 97, 97);
    padding: 50px;
    margin-left:auto;
    margin-right:auto;
    margin-top:100px;
    border-radius: 30px;
}

#display {
    width:230px;
    margin-bottom:15px;
    font-size:2rem;
    text-align:left;
    border:3px solid rgb(85, 85, 85);
    border-radius: 8px;
    resize:vertical;
    background-color:rgb(221, 221, 221);
}
/*
#topButtonRows button {
    width:38.1px;
    height:38.1px;
    margin-right:6.5px;
    margin-bottom:8px;
    background-color:rgb(255, 255, 255);
    cursor:pointer;
}
#topButtonRows button:hover {
    background-color:rgb(207, 207, 207)
}

#topButtonRows button:active {
    background-color:rgb(156, 156, 156)
}
*/
#buttonRows button {
    width:48px;
    height:48px;
    margin-right:10px;
    margin-bottom:8px;
    background-color:rgb(255, 255, 255);
    cursor:pointer;
}
#buttonRows button:hover {
    background-color:rgb(207, 207, 207)
}
#buttonRows button:active {
    background-color:rgb(156, 156, 156)
}

#log_x {
    font-size:10px;
}

#picturesContainer {
    display: flex;
    gap: 0.8%;
    flex-wrap: wrap;
}

#favoritePicturesAlignmentHorizontal {
    margin-top: 16px;
    width: 49.6%;
    height: auto;
}

#favoritePicturesAlignmentVertical {
    margin-top: 16px;
    width: 49.6%;
    height: 900px;
}

#homePagePicturesAlignment {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 16px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

#JSTestingButton {
/*
    margin-right: 50%;
    margin-left: 20%;
*/
    margin-top: 50px;
    margin-left: 50%;
    margin-right: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    background-color: rgb(172, 172, 172);
}
#box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: rgb(172, 172, 172);
    margin-top: 100px;
}
@keyframes moveButton {
    0% { left: -50%;}
    100% { left: 42%;}
}

@keyframes rainbowButton {
    0% { background-color: DodgerBlue; left: -50%}
    25% { background-color: FireBrick;}
    50% { background-color: green;}
    75% { background-color: purple;}
    100% { background-color: yellow; left: 42%}
}

#catchButtonText {
    margin-top: 100px;
    margin-left: 39%;
}

#tryAgainText {
    margin-top: 300px;
    margin-left: 39%;
}